@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Onest:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mooli:&display=swap");
/* @import url("fonts.css"); */
@import url("reset.css");
body{
	font-family: "Inter" ;
	font-size: 18px;
	color: #7d7d7d;
} 
/* Завдання зі статтею */
.github{
	font-family: "Onest",serif;
	font-size: 20px;
	color: #000000;
	line-height: 1.5;
}
.git {
	font-family:"LTEdge", serif;
	font-size:30px ;
	letter-spacing: 10px;
	text-shadow: 5px -2px 1px yellow,10px -4px 2px gray;
}
.github .text p{
	color: #03471a;
	word-spacing: 10px;
}
.name{
	font-family:"LTEdge", serif ;
	font-weight: 700;
	text-align: center;
	letter-spacing: 10px;
}
.content p {
	font-family: "LTEdge", serif;
	font-weight: 500;
	font-style: italic;
}
.list-title a {
	font-family: "Mooli", serif;
	font-weight: 700;
	color: coral;
}
.content-one .content p {
	line-height: 2.5;
}
.items {
	font-family: "LTEdge", serif;
	text-decoration: underline;
	color: darkblue;
}
.content-three .content p{
	font-family: "Onest", serif;
	font-weight: 600;
}
span{
	font-family: "Onest", serif;
	font-weight: 600;
	color: rgb(117, 12, 12);
	text-decoration: line-through;
}
.blue-list a{
	color: #6b77e5;
}
/* Завдання з макетів */
.title,
.sub-title{
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
.title{
	font-size: 30px;
	color:#37393f;
	text-transform: capitalize;
	line-height: 1.27;
}
.sub-title{
	font-size: 20px;
	color:#6b77e5;
	line-height: 1.27;
}
.text{
	line-height: 1.47;
}
.project {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 40px;
	color:#37393f;
	line-height: 1.27;
}
.list,
.number {
	font-weight: 500;
}
.homework{
	color: rgb(109, 9, 22);
}
